body{
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    background-image: url(./img/whitesmoke.png);
}

#literary-work{
    display: flex;
    flex-wrap: wrap;
    min-height: 90vh;
}

#nav{
    width: 25%;
    min-height: 40vh;
}

#list{
    padding-top: 1em;
    padding-right: 20px;
    padding-left: 0;
}

#list li{
    list-style: none;
    height: 3em;
    border-radius: 0 14px 14px 0;
    padding-left: 25%;
    margin-top: 3px;
    display: flex;
    align-items: center;
}

#list li a{
    text-decoration: none;
    top: 50%;
    font-size: 1.1em; 
    color: whitesmoke; 
}

#list li:nth-child(1){
    background-color: rgb(253, 0, 13);
}

#list li:nth-child(2){
    background-color: rgb(19, 160, 165);
}

#list li:nth-child(3){
    background-color: rgb(138, 173, 10);
    width: 82%;
}

#list li:nth-child(4){
    background-color: rgb(6, 94, 50);
}

aside{
    width: 75%;
    min-height: 40vh;
    color: white;
}

aside h1{
    text-align: center;
    font-size: 4em;
}

aside p{
    font-size: 18px;
    padding: 3px 50px 0 50px;
}

table, th, td {
    border: 2px solid rgba(255, 255, 255, 0.192);
    border-collapse: collapse;

}

table { 
    align-items: center;
    font-size: 1em;  
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(255, 255, 255, 0.1);
}

#title-table{
    text-align: center;
    font-size: 1.5empx;
    color: orange;
    background-color: rgba(0, 0, 0, 0.473);
}

td{
    padding: 10px;
}

.odd{
    background-color: rgb(255, 255, 255, 0.1);
}

footer{
    height: 10vh;
    display: flex;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;   
    background-color: black;
    color: aliceblue;
    font-size: 18px;
}

footer img{
    height: 7vh; 
    padding-left: 10px;        
}

/* Media and device */
@media only screen and (max-width: 720px) {
    body{
        height: auto;
    }
    
    #literary-work{
            display: block;
    }
    
    #nav{
        width: 75%;
        min-height: 10vh;
    }

    table{
        font-size: 10px;
    }
    
    aside{
        width: auto;
        margin: 0;
    }

    aside h1{
        margin: 20px 0 20px 0;    
    }

    footer{
        height: 6vh;
        font-size: 12px;
    }
    
    footer img{
        height: 4vh;    
    }
}


}
